@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #131313;
  padding: 0;
  margin: 0;
}

th,
td {
  text-align: left;
  border-bottom: 1px solid #aeaeb2;
}

th:last-child,
td:last-child {
  border-right: none;
}

.typography--variant-h1 {
  font-size: 36px !important;
  line-height: 42px !important;
  font-weight: 700 !important;
}

.typography--variant-h2 {
  font-size: 26px;
  line-height: 30px;
  font-weight: 600;
}

.typography--variant-h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.typography--variant-h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.typography--variant-h5 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

.typography--variant-subtitle {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.typography--variant-body {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.typography--variant-light {
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
}

.typography--variant-legal {
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #131313;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #292929;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #575757;
}
